body {
  background-color: #FFFFFF;
}
.form-field {
  display: block;
  clear: both;
}
.form-label {
  float: left;
  width: 120px;
  padding: 0px 10px 10px 0px;
  vertical-align: top;
  min-width: 120px;
  text-align: right;
}
.form-value {
  float: left;
  padding: 0px 10px 10px 0px;
  vertical-align: top;
}
td {
  padding: 4px;
}
