<div class="row">
    <div class="col-lg-6">
        <h2>List Events</h2>
        <div>
            <p>All events listed below:</p>
            <table>
                <tr ng-repeat="event in events">
                    <td>{{event.eventName}}</td>
                    <td><button ng-click="editEvent(event.id)">Edit {{event.id}}</button></td>
                    <td><button ng-click="deleteEvent(event.id)">Delete</button></td>
                </tr>
            </table>
            <p>Done</p>
        </div>
   
    </div>
</div>
